<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/insurance_style.css">
  <title>Document</title>
</head>
<header id="abth"><%- include('../partials/header')%></header>
<body>
  <div  class="insurance-product page-margin-bottom">
    <div  class="background-image" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(/images/car_insurance_img.jpg);">
      <div class="section-content d-none d-lg-block page-margin-bottom">
        <p  class="title">Car Insurance</p>
        <div  class="text">Car insurance provides coverage for losses that you might incur if your
          car, whether it’s new or used, is in an accident. Amenli provides car insurance policies from the best
          insurance companies in Egypt.</div>
      </div>
    </div>
    <div  class="body section-content">
      <div  class="row">
        <div class="col-12 body-container d-lg-none">
          <div  class="body-title">Car Insurance</div>
          <div  class="body-text">Car insurance provides coverage for losses that you might incur
            if your car, whether it’s new or used, is in an accident. Amenli provides car insurance policies from the
            best insurance companies in Egypt.</div>
        </div>
        <div class="col-12 body-container">
          <div class="body-title">Insurance Coverage: </div>
          <div class="body-text">- Direct billing options <br> - Up to 0% deductible at Agency
            <br> - Up to 0% deductible at Service Centers <br> - Theft or total loss <br> - Roadside assistance if you
            breakdown on the road <br><br> In addition to further benefits like: <br> - Discounts on spare parts <br> -
            Discounts on car maintenance</div><br><br><a
            class="body-text answer-questions-text" href="https://qe.amenli.com/?choice=6">Answer
            these questions </a><span _class="body-text"> to get your personalized quote now and
            for more details about the policy and the terms &amp; conditions.</span>
        </div>
        <div class="col-12 body-container">
          <div class="body-title"> Did you know.. </div>
          <div class="body-text">That 32,000 get hurt in Egyptian road accidents each year.</div>
        </div>
        <div class="col-12 body-container">
          <div class="body-title"> How can we help you? </div>
          <div class="body-text">Insurance can be confusing and that is how Amenli facilitates the
            whole process and hassle that comes with it. Instantly buy your insurance policy online in just three steps.
            <br><br> You can make your claim to Amenli any time any day and we’ll support you and handle all talks with
            the insurance providers on your behalf, speeding up the process and ensuring you get what is yours.</div>
        </div>
      </div><a href="/car_packages">
        <div class="button-check-price"> Get your policy now </div>
      </a>
    </div>
  </div>

</body>
<footer id="fff"> <%- include('../partials/footer'); %></footer>
</html>
  