<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/insurance_style.css">
  <title>Document</title>
</head>
<header id="abth"><%- include('../partials/header')%></header>

<body>
  <div class="insurance-product page-margin-bottom">
    <div class="background-image"
      style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(./images/medical_insurance_img.jpg);">
      <div class="section-content d-none d-lg-block page-margin-bottom">
        <p class="title">Medical Insurance</p>
        <div class="text">Medical insurance provides coverage for every aspect in your health journey, from simple
          consultations and medications to maternity coverage and even life or death emergency surgeries. With medical
          plans for newborns and adults up to 69 year old.</div>
      </div>
    </div>
    <div class="body section-content">
      <div class="row">
        <div class="col-12 body-container d-lg-none">
          <div class="body-title">Medical Insurance</div>
          <div class="body-text">Medical insurance provides coverage for every aspect in your health journey, from
            simple consultations and medications to maternity coverage and even life or death emergency surgeries. With
            medical plans for newborns and adults up to 69 year old.</div>
        </div>
        <div class="col-12 body-container">
          <div class="body-title">Insurance Coverage: </div>
          <div class="body-text">- Hospitalization & surgeries <br> - Emergencies
            <br> - Clinics <br> - Medication <br> - X-ray and scans
            <br> - Physiotherapy<br> - Dental & Optical coverage <br> - Maternity
            <br><br> In addition to further benefits like: <br> - covering pre-existing conditions <br> -
            covering chronic diseases
            <br><br>Protect your health and your families’ health with customized medical plans in the simplest way
            possible with Amenli’s process, because life is unpredictable and it gets overwhelming by the minute.
            <br><br>
          </div><a class="body-text answer-questions-text" href="https://qe.amenli.com/?choice=6">Answer
            these questions </a><span class="body-text"> to get your personalized quote now and
            for more details about the policy and the terms &amp; conditions.</span>
        </div>
        <div class="col-12 body-container">
          <div class="body-title"> Did you know.. </div>
          <div class="body-text">Egypt is said to have one of the highest hepatitis C rates in the world, that is why it
            is important to opt for a health plan.</div>
        </div>
        <div class="col-12 body-container">
          <div class="body-title"> How can we help you? </div>
          <div class="body-text">Insurance can be confusing and that is how Amenli facilitates the whole process and
            hassle that comes with it. Instantly buy your insurance policy online in just three steps.
            <br><br> You can make your claim to Amenli any time any day and we’ll support you and handle all talks with
            the insurance providers on your behalf, speeding up the process and ensuring you get what is yours.
          </div>
        </div>
      </div><a href="/medical_packages">
        <div class="button-check-price"> Get your policy now </div>
      </a>
    </div>
  </div>

</body>
<footer id="fff"> <%- include('../partials/footer'); %></footer>

</html>