<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>View and Edit Packages</title>
  <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
  <link rel="stylesheet" href="/css/adminDashboard.css" />
</head>

<body>
  <!-- <aside>
    <%- include('../partials/aside.ejs')%>
  </aside> -->
  
    <div class="board">
      <table width="100%">
        <thead>
          <tr><th colspan="5">User Progress <Progress></Progress></th></tr>
          <tr><th>Username</th><th>Puzzle Completed</th><th>Time</th><th>Score</th> <th>Hints given</th></tr>
        </thead>
        <tbody>
          <tr><td>Abdelrahman03</td><td>7</td><td>27 minutes</td><td>21 points</td><td>1</td></tr>
          <tr><td>Farah02</td><td>5</td><td>15 minutes</td><td>15 points</td><td>0</td></tr>
          <tr><td>Youssef01</td><td>4</td><td>12 minutes</td><td>12 points</td><td>0</td></tr>
          <tr><td>Nour04</td><td>8</td><td>30 minutes</td><td>24 points</td><td>3</td></tr>
        </tbody>
      </table>
    </div>

  <script src="/js/adminDashboard.js"></script>
</body>
</html>
